<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Server</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/app.css">
</head>

<body>
  <h1>Testing</h1>

  <canvas id="canvas" width="800" height="600"></canvas>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popmotion/9.3.1/popmotion.global.min.js" integrity="sha512-lCA8fXX15HqEtY3PWLzRz7ABdGk3JUxYavDD7PvoR2WtMMcZI2gZ3u766lCwaHeMPRPZoRLLEcYq1MYpl1kgQQ==" crossorigin="anonymous"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>