@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

body {
    font-family: 'Comic Neue', cursive;
    font-size: 1.2rem;
    background-color: #ececec;
    margin: 0;
}

.dark-bg {
    background-image: url('../assets/dark.jpg');
}

.light-bg {
    background-image: url('../assets/light.jpg');
}

canvas {
    border: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 26px 26px 0px 1px rgba(0,0,0,1);
    border-radius: 28px;
    border: 4px solid black;
    flex: 0 1 100%;
    min-width: 0;
    min-height: 0;
    max-height: 800px;
    max-width: 600px;
}

.container {
    margin: auto;
    max-width: 1100px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.sidebar {
    padding: 0 40px;

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 0.5em;
    }
}

